[Unit]
Description=Redundant LXC service
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart= /usr/bin/python3 /usr/sbin/RedundantLXC/main.py /etc/FailConfig.json
ExecStop= /usr/bin/python3 /usr/sbin/RedundantLXC_Tools/LXC_Stopall.py
Restart=always

[Install]
WantedBy=default.target
